*{
  margin: 0;


}/* inicio*/
body {
  background-color:#dce4e3;
}
h1 {
  position: absolute;
  top: 18px;
  left: 268px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #084236;
}
.text {
  position: relative;
  left: -30px;
 overflow-x: hidden;
}
/*icones*/
.logo{
  position: relative;

  top: 24px;
}
.menu{
  position: relative;
  left: 192px;
  top: 27px;
}
.icons{
  position: relative;
  top: 7px;
  left: -47px;


}
.out{

  position: relative;
  width: 25px;
  top: 1px;
  left: 161px;
}
.search{
  position: absolute;
  left: 30px;
  top: 76px;
 
}

/* sidebar ABERTO*/
#sidebar {

  width: 250px;
  background-color:#18c29c;
  height: 100vh;
  transition: all 0.5s;
 

}
.list.down{
  position: relative;

width: 263px;
height: 74px;
    left: -53px;
    top: 212px;
background-color:#8ed7c6;
margin-top: auto;
transition: all 0.5s;
}

#sidebar.open div.inputt  .search  {
  position: absolute;
  left: 30px;
  top: 93px;
  transition: all 0.5s;
  
}
#sidebar.open div.inputt input {
  position: relative;

  height: 50.92px;

  top: 28.88px;
  background:#8ed7c6;
  border-radius: 12px;
  border: none;
  transition: all 0.5s;

}
/*input e placeholder*/
input{
  position: relative;
  top: 15px;
    width: 162px;
    height: 50.92px;
    left: -24px;
    padding-left: 50px;
    background: #8ed7c6;
    border-radius: 12px;
    border: none;
    transition: all 0.5s;
    
}
::placeholder {
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color:#084236 ;
}


/* sidebar fechado*/
#sidebar.close{
  width: 100px;
  transition: 0.5s;
}

#sidebar.close  .list.down{ 
  width: 113px;
  top: 225px;
  height: 62px;
}
#sidebar.close .icons {
  position: relative;
  top: 7px;
  left: -32px;


}

#sidebar.close h1 {
  position: absolute;
  top: 18px;
  left: 145px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  transition: all 0.5s;
}
#sidebar.close div.inputt  .search{
  position: absolute;
  left: 34px;
  top: 74px;
  transition: all 0.6s;
} 
#sidebar.close div.inputt input  {
  width: 9px;
  padding-left: 58px ;
  position: relative;
    height: 50.92px;
    left: -26px;
    top: 15px;
    background:#8ed7c6 ;
    border-radius: 12px;
    border: none;
    transition: all 0.5s;
  }
#sidebar.close div.inicio .menu {
  left: 34px;
}
#sidebar.close ul li .text {
  display: none;
}

#sidebar.close  ul li .woman{
  display: none;
}
#sidebar.close ul li .name{
  display: none;
}
#sidebar.close   ul li .profession{
  display: none;
}
#sidebar.close  ul li .out{
  top: 16px;
  left: 40px;
  width: 25px;
}

#sidebar.close div.inicio .logo {
  display: none;
}

/*links*/
span{
  overflow-x: auto;
  transition: 0.6s;
}
a {
 
  text-decoration: none;
  color:#084236;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}
/*lista*/
li{
  position: relative;
  left: 27px;
  top: 36px;
  line-height: 50px;
}
ul li{

  list-style: none;
}



span:hover{
  display:inline-flex;
 opacity: 2;
 color: #10ffcf;
 border-bottom: 2px solid #084236;

}
   



















.woman{
  top: 10px;
  position: relative;
  width: 45px;
  height: 45px;
  left: 13px;
  padding: 2px;
  border-radius: 12px;
  transition: all 0.5s;
}
.name{
  position: relative;
  width: 99px;
  height: 29px;
  left: 88px;
 top: -59px;


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #084236;

display: flex;
align-items: center;
text-transform: capitalize;
transition: all 0.5s;
}
.profession{
  position: relative;
  width: 67px;
  height: 18px;
  left: 95px;
  top: -64px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;

display: flex;
align-items: center;
text-transform: capitalize;

color: #084236;
transition-delay: 0ms;
}


